
.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    
  }
  
  .chat__header {
    padding: 5px 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .chat__body {
    flex: 1;
    padding: 20px;
    
    background: url('https://wallpapersafari.com/image/whatsapp-backgrounds.jpg');
    overflow-y: scroll;
  }
  
  .chat__footer {
    padding: 10px;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
  }
  
  .chat__footer input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
  }
  /* src/components/Chat.css */
.chat {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .chat__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .chat__header h2 {
    margin: 10px 0;
    font-size: 20px;
  }
  
  .chat__headerIcons .MuiIconButton-root {
    margin: 0 5px;
  }
  
  .chat__body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f0f0f0;
  }
  
  .chat__message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    display: inline-block;
    position: relative;
  }
  
  .chat__message--sent {
    background-color: #dcf8c6;
    align-self: flex-end;
  }
  
  .chat__message--received {
    background-color: #ffffff;
    align-self: flex-start;
  }
  
  .chat__timestamp {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #777;
    text-align: right;
  }
  
  .chat__footer {
    display: flex;
    padding: 15px 20px;
    border-top: 1px solid #ddd;
  }
  
  .chat__footer input {
    flex: 1;
    padding: 15px 10px;
    /* background-color: #f0f0f0; */
     background-color: #ffffff;
    
    outline: none;
  }
  .jyoti{
    border: 2px solid rgb(179, 169, 169);
    width: 100px ;
    padding-top: 8px;
    border-radius: 8px;
    height: 40px;
    opacity: 0.8;
   

  }
  .jaga{
    display: flex;
  }
 @media (max-width: 768px) {
    .chat {
      width: 50%;
    }
  }
  
  @media (max-width: 576px) {
    .chat {
      width: 100%;
    }
  }
  
  @media (max-width: 500px) {
    .chat {
      display: none;
    }
  }
